h1{
    background-color: #E1F25F;
    color: #96008B;
    font-family: Helvetica, sans-serif;
    font-size: 36pt;
}
body{
    background-color: rgb(154, 226, 223);
}
.make-prev{
    transform: scale(-1);
}
.icon-height{
    width: 100px;
}
a{
    color: darkgrey;
    text-decoration: none;
}
.arrow{
    transition: .8s;
}
.arrow:hover{
    transform: scale(2);
}
.arrow2{
    transition: .8s;
}
.arrow2:hover{
    transform: scale(-2);
}
#current-temp{
    font-size: x-large;
    font-weight: 400;
}
.card-img-top{
    transform: scale(.7);
    height: 80px;
}