h1{
    background-color: #E1F25F;
    color: #96008B;
    font-family: Helvetica, sans-serif;
    font-size: 50pt;
}
body{
    background-color: darkgrey;
}
.make-prev{
    transform: scaleX(-1);
}
.icon-height{
    width: 280px;
}
a{
    color: darkgrey;
    text-decoration: none;
}